body{
margin:0px;
padding:0px;
background:#efefef url(../images/body-bg.jpg) repeat-x;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
}

.loginbg{
background: url(../images/login-bg.jpg) no-repeat;}

.login-top-bg{
background: url(../images/login-top-bg.png) no-repeat;
width:548px;
height:38px;
}

.login-mid-bg{
background: url(../images/login-mid-bg.png) repeat-y;

}

.loginheading{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
font-weight:normal;
padding-left:15px;
}

.textboxbg{
background:url(../images/textbox-bg.jpg) no-repeat;
width:205px;
height:30px;
padding-left:1px;
}

.textfield{ width:190px;
height:20px;
border:none;
background-color:transparent;
}

.textfield1
{
width:190px;
height:20px;
border:solid 1px;
border-color:#FFCC33;
}

.text_50
{
width:50px;
height:20px;
border:solid 1px;
border-color:#FFCC33;
} 
 .whitetext_12{
 font-family:Arial, Helvetica, sans-serif;
 font-size:10px;
 font-weight:normal;
 color:#000000;
 } 
  
.combo{ width:205px;
height:25px;
border:none;
border:solid 1px #ffa62e;
background-color:transparent;
}

.forgotbg{
background: url(../images/forgot-bg.png) no-repeat;
width:275px;
height:30px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#000000;
}

.forgotbg a{
color:#000000;
}

.footer{
background:url(../images/footer-bg.jpg) repeat-x;
height:111px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-weight:normal;
}

h1{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#FFFFFF;
padding-left:5px;
}

.leftmenuborder{ height:30px;
border-bottom:solid 1px #b4b4b4;
}

.menutext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#6a6868;
font-weight:bold;
}

.menutext a{
color:#6a6868;
text-decoration:none;
}

.loginrightbg{
background: url(../images/login-right-bg-inner.jpg);
}
.loginleftbg{
background: url(../images/login-left-inner.jpg);
}

.lable2
{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#006666;
font-weight:bold;
}

.cer1
{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#333333;
}

.cer2
{
font-family:Arial, Helvetica, sans-serif;
font-size:9px;
font-weight:normal;
color:#333333;
}

.cer3
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
color:#333333;
}

.cer4
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#000000;
}

.cer5
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
color:#000000;
}

.cer6{font-family:minion; font-weight:bold; font-size:15px;}

.cer7_bold{font-family:"Century Gothic"; font-weight:bold; font-size:14px;}
.cer7_normal{font-family:"Century Gothic"; font-weight:normal; font-size:14px;}
.cer8_com{font-family:Cambria; font-weight:normal; font-size:14px;}
.cer9_arial{font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:14px;}
.cer9_arial_bold{font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px;}

<!--For English-->
.new_textbox1{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:150px;height:15px;}
.new_textbox190{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:190px;height:15px;}
.new_textbox40{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:40px;height:15px;}
.new_textbox80{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:80px;height:15px;}
.new_textbox12{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:120px;height:15px;}

<!--For Arabic-->
.new_textbox1_ar{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:150px;height:15px; text-align:right;}
.new_textbox190_ar{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:190px;height:15px; text-align:right;}
.new_textbox40_ar{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:40px;height:15px; text-align:right;}
.new_textbox80_ar{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:80px;height:15px; text-align:right;}
.new_textbox12_ar{border:solid 1px;border-color:#999999;background-color:#ECF1FF;width:120px;height:15px; text-align:right;}

.btn1{
background:url(../../images/btn1.png) no-repeat;
width:143px;
height:25px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bolder;
color:#FFFFFF;
border:none;
text-align:center;
cursor:pointer;
padding-bottom:5px;
text-decoration:none;
text-transform:uppercase;
}


.btn2{
background:url(../../images/btn2.png) no-repeat;
width:143px;
height:25px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size:12px;
font-weight:bolder;
color:#FFFFFF;
border:none;
text-align:center;
cursor:pointer;
padding-bottom:5px;
}
.btn_no{
background:url(../../images/btn-no.png) no-repeat;
width:68px;
height:25px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size:12px;
font-weight:bolder;
color:#FFFFFF;
border:none;
text-align:center;
cursor:pointer;
padding-bottom:5px;
}

a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}

/*.mymenutext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#3366CC;
padding-left:7px;
font-weight:bold;
}

.mymenutext a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#3366CC;
padding-left:2px;
font-weight:bold;
text-decoration:none;
}

.myactivemenutext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FF9900;
padding-left:7px;
font-weight:bold;
}

.myactivemenutext a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FF9900;
padding-left:2px;
font-weight:bold;
text-decoration:none;
}*/

body input:focus, textarea:focus, select:focus{background-color:#FDE7C8;}
.combo80 {border:solid 1px; border-color:#999999; background-color:#ECF1FF; width:80px;}





#result {
	height:20px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	padding:5px;
	margin-bottom:10px;
	background-color:#090;
}
#country{
	padding:3px;
	border:1px #CCC solid;
	font-size:17px;
}
.suggestionsBox {
	position: absolute;
	right:1px;
	top:0px;
	margin: 26px 0px 0px 0px;
	width: 150px;
	padding:0px;
	background-color:#C8C8C8;
	border-top: 3px solid #C8C8C8;
	color: #fff;
	text-align:center;
}
.suggestionList {
	margin: 0px;
	padding: 0px;
}
.suggestionList ul li {
	list-style:none;
	margin: 0px;
	padding: 6px;
	border-bottom:1px dotted #666;
	cursor: pointer;
}
.suggestionList ul li:hover {
	background-color:#093;
	color:#FFF;
}
ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	padding:0;
	margin:0;
}

.load{
background-image:url(loader.gif);
background-position:right;
background-repeat:no-repeat;
}

#suggest {
	position:relative;
}
.searchtext { width:180px; height:18px; border:solid 1px; border-color:#339999; background-color:#DEF7FE; }